.flex-central{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    border-radius: 20px;
    text-decoration: none;
    font-size: 13px;
    cursor: pointer !important; 
}